$green: #669900;
$black: #333;

body {
  color: $black;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Noto Sans KR", sans-serif;
  height: 3000px;
}

@mixin vc() {
  position: absolute; //absolute면 display: block이 됨
  top: 0;
  bottom: 0;
  margin: auto 0;
}

@mixin inner($h) {
  width: 1100px;
  height: #{$h};
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  background-color: #f6f5f0;
  position: fixed; // 부모로서의 기준이 되기에 충분
  top: 0;
  border-bottom: 1px solid #c8c8c8;
  > .inner {
    @include inner(120px);
  }
  .logo {
    width: 75px;
    height: 75px;
    @include vc();
    left: 0;
  }
  .sub-menu {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    right: 0;
    display: flex;
    .menu {
      display: flex;
      position: relative;
      li {
        a {
          color: inherit;
          font-size: 12px;
          text-decoration: none;
          padding: 11px 16px; // 인라인 가로,세로 넓힐 생각말고 padding값으로 늘리자..!
          &:hover {
            color: black;
          }
          // background-color: navajowhite;
        }
      }
      li::before {
        content: "";
        width: 1px;
        height: 14px;
        background-color: #e5e5e5;
        @include vc();
      }
      li:first-child::before {
        display: none;
      }
    }
    .search {
      position: relative;
      input {
        width: 36px;
        height: 34px;
        padding: 4px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        outline: none;
        background-color: #fff;
        color: #777;
        transition: width 0.5s;
        &:focus {
          outline: none;
          width: 190px;
          border-color: $green;
        }
      }
      &.focused {
        .material-icons {
          opacity: 0;
        }
      }
      .material-icons {
        @include vc();
        height: 24px; // 요소에  너비가 포함되어있어야하므로\
        right: 5px;
        transition: 0.4s;
      }
    }
  }
  .main-menu {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    .item {
      font-size: 13px;
      // item위에 hover시 contents에도 hover 추가해야하므로
      // item__name이 아닌, item에 호버
      &:hover {
        display: block;
        background-color: $black;
        border-radius: 6px 6px 0 0;
        .item__name {
          color: $green;
          cursor: pointer;
        }
        .item__contents {
          display: block;
        }
      }
      .item__name {
        padding: 10px 20px 34px 20px;
      }
      .item__contents {
        display: none;
        left: 0;
        width: 100%;
        position: fixed;
        background-color: $black;
        box-sizing: border-box;
        .contents__menu {
          width: 1100px;
          margin: 0 auto;
          display: flex;
          color: white;
          > ul {
            @include inner("");
            display: flex;
            padding: 20px 0;
            box-sizing: border-box;
            > li {
              width: 220px; // 메뉴당 width
              height: 100%;
              h4 {
                padding: 3px 0 12px 0;
                font-size: 14px;
                color: #fff;
              }
              ul {
                li {
                  padding: 5px 0;
                  font-size: 12px;
                  color: #999;
                  cursor: pointer;
                  &:hover {
                    color: $green;
                  }
                }
              }
            }
          }
        }
        .contents__texture {
          padding: 26px 0;
          background-image: url("../images/main_menu_pattern.jpg");
          font-size: 12px;
          > div {
            width: 1100px;
            margin: auto;
            h4 {
              color: #bbb;
              font-weight: 700;
            }
            p {
              color: $green;
              margin: 4px 0 14px;
            }
          }
        }
      }
    }
  }
  .badges {
    position: absolute;
    top: 132px;
    right: 12px;
    .badge {
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 12px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
  }
}
